{% extends 'page.html' %}


{% block content %}

<h1 class="display-4">Персонажи</h1>
<small><a href='{% url "core:persons_order" %}'>По фамилии</a></small> | <small><a href='{% url "core:persons" %}'>По активности</a></small>

<ul>
    {% for object in object_list %}
        <li>
            {% if object.name or object.family %}
                <a href="{% url 'core:one_person' object.id %}">{{ object.show_full_name }} ({{object.event.all.count}})</a>
                {% if object.wikidata_id %}Wikidata: <a href="https://www.wikidata.org/wiki/{{ object.wikidata_id }}" target="_blank">{{object.wikidata_id}}</a>{% endif %}
                {% if object.viaf_id %}VIAF: <a href="https://viaf.org/viaf/{{ object.viaf_id }}/" target="_blank">{{ object.viaf_name }}</a>{% else %}N/A{% endif %}
            {% else %}
                <a href="">{{ object.date|date:"DATE_FORMAT" }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>


{% include 'pagination.html' %}

{% endblock %}
