{% extends 'page.html' %}


{% block content %}
<h1 class="display-4">Места</h1>

<div>
<a href="{% url 'core:places_alphabet' %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button">By name</a> <a href="{% url 'core:places' %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button">By events</a>
</div>

<ul>
	{% for place in object_list %}
	<li><a href="{% url 'core:one_place' place.id %}">{{ place.name }} ({{place.event_set.all.count}}) </a></li>
	{% endfor %}
</ul>

{% include 'pagination.html' %}

{% endblock %}