{% extends 'page.html' %}

{% block content %}

{{ calendar.formatmonth|safe }}

<center>

 <a class="btn btn-primary" role="button" href="{% url 'core:calendar' calendar.previous_month.year calendar.previous_month.month %}" >  
 {{ calendar.previous_month.name }} </a>

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{year}} 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
  	  	
  	{% for one_year in all_years %}
    <a class="dropdown-item" href="{% url 'core:calendar' one_year 1 %}">{{one_year}}</a>
    {% endfor %}

  </div>
  
<a class="btn btn-primary" role="button" href="{% url 'core:calendar' calendar.next_month.year calendar.next_month.month %}" >  {{ calendar.next_month.name }} </a>

</center>
{{request.GET}}
{% endblock %}