{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
  	<h3>Редактирование события</h3>
		{{ event.description}}
  </div>
<div class="card-body">
    <h5 class="card-title">Участники</h5>
	<div id="form_set">

		<form method='POST'>
			
		{% csrf_token %}
    		{{ myformset.management_form }}
            	{% for form in myformset %}
            		<p>{{ form }}</p>
            	{% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">

    	</form>
	</div>
</div>

{% endblock %}

