{% extends 'base.html' %}

{% block content %}
{% include 'jumbotron_index.html' %}

<div class='container'>
<h5 class="text-center mt-4 display-4">События</h5>
<div class="card-group">
	{% for card in cards %}
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">{{ card.date }} / {{ card.place.name }} </h5>
      <p class="card-text">{{ card.description|truncatewords:30 }}
      <a href="{% url 'core:one_event' card.id %}" class="btn btn-outline-secondary btn-sm">Дальше</a></p>
      <p class="card-text"><small class="text-muted">{{ card.adress.name }}</small></p>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}