{% extends 'page.html' %}


{% block content %}

<h1 class="display-4">Персонажи</h1>
<small><a href='{% url "core:persons_order" %}'>По фамилии</a></small> | <small><a href='{% url "core:persons" %}'>По активности</a></small>

<ul>
	{% for object in object_list %}
	{% if object.name %}
	<li><a href="{% url 'core:one_person' object.id %}">{{ object.show_full_name }} ({{object.event.all.count}}) </a></li>
	{% elif object.family%}
	<li><a href="{% url 'core:one_person' object.id %}">{{ object.show_full_name }} ({{object.event.all.count}}) </a></li>
	{% else %}
	<li><a href="">{{ object.date|date:"DATE_FORMAT" }}</a></li>
	{% endif %}
	{% endfor %}
</ul>


{% include 'pagination.html' %}

{% endblock %}
