<div class="container">
<div class="jumbotron">
  <h1 class="display-4">СПбЛитГид: 1999—2019</h1>
  <p class="lead">Основные события и места петербургской литературной жизни с 1999 по 2019 год в рассылке Дарьи Суховей</p>
  <hr class="my-4">
  <p>Пример автоматической обработки и систематизации материала культурной жизни. Принципы построения сетевой модели литературной жизни Санкт-Петербурга: взаимосвязи, картография, сетевой анализ</p>
 <a href='{% url "core:research" %}' class="btn btn-secondary">О проекте</a>
</div>